black==23.3.0 ; python_version > '3.7'
flake8
mock
pexpect
pytest-xdist
yamllint
coverage==4.5.4
google-api-python-client
grpcio
protobuf
pytest-ansible ; python_version >= '3.9'
git+https://github.com/ansible-community/pytest-ansible-units.git ; python_version < '3.9'
