black==22.3.0 ; python_version > '3.5'
flake8
mock
pexpect
pytest-xdist
yamllint
coverage==4.5.4
google-api-python-client
grpcio
protobuf
git+https://github.com/ansible-community/pytest-ansible-units.git
